@model IEnumerable<Product>



<div class="bookCard-Container">
    @foreach (Product product in Model)
    {
        <div class="book-card">
            <img src="~/img/pexels2908773.jpg" alt="book"/>
            <h4>@product.Name</h4>
            <h5>@product.Price</h5>
        </div>
    }
</div>
