
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
    
}

@section AboutStyle {
    <link href="/css/About.css" rel="stylesheet" />
}

<section class="firstSection">
    <div class="aboutContainer">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h4>Consequatur laboriosam</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur laboriosam, autem molestiae consectetur nihil sequi repudiandae optio quas fuga corporis in repellat,
            laborum temporibus reprehenderit praesentium distinctio cumque ipsam sit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur laboriosam, autem molestiae consectetur nihil sequi repudiandae optio quas fuga corporis in repellat,
            laborum temporibus reprehenderit praesentium distinctio cumque ipsam sit.
        </p>
        <a class="buttn buttn-light" href="#">Content</a>
    </div>
</section>
<section class="secondSection">
    <div class="aboutContainer">
        <h1>Lorem ipsum</h1>
        <h4>Consequatur laboriosam</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ex ipsum voluptatem minima perferendis alias cupiditate, perspiciatis cumque explicabo pariatur doloremque error dolor odio quae excepturi animi atque quibusdam quisquam ullam illo corporis impedit ducimus eos.
            Adipisci voluptatem at veniam nam in provident ex expedita animi dicta quae. Eius, vero nobis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ex ipsum voluptatem minima perferendis alias cupiditate, perspiciatis cumque explicabo pariatur doloremque error dolor odio quae excepturi animi atque quibusdam quisquam ullam illo corporis impedit ducimus eos.
            Adipisci voluptatem at veniam nam in provident ex expedita animi dicta quae. Eius, vero nobis.
        </p>
        <a class="buttn buttn-dark" href="#">Content</a>
    </div>
</section>